<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Армянский Клуб НИУ ВШЭ</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link rel="shortcut icon" type="image/png" href="images/favicon_logo.png" />
  </head>
  <body>
    <header>
      <img src="images/logo.png" alt="Логотип АК" class="logo" />
      <h1>Welcome to the Club!</h1>
      <div id="counter">Участники клуба: <span id="count">684</span></div>
    </header>
    <main>
      <p>
          Армянский Клуб – это молодёжная организация, существующая с 2009 года,
          которая даёт возможность каждому участнику:
      </p>
      <ul>
        <li>
          развиваться профессионально, посещая карьерные мастер-классы и лекции;
        </li>
        <li>
          расширять кругозор, изучая язык, историю, традиции и культуру Армении;
        </li>
        <li>
          а также находить новых друзей и заводить новые знакомства на наших
          мероприятиях.
        </li>
      </ul>
    </main>
  </body>
</html>
